{% extends "student_view/base.html" %}

{% block body %}
<div class="card shadow text-dark">
    <div class="card-header bg-info ">
         <h3><i class="fas fa-laugh-wink"></i>Welcome {{ user.first_name }} {{ user.last_name }}!</h3>
    </div>
    <div class="card-body">
     Make sure your email is the one your currently using!
     </div>
 </div>
{% if subject_count != 0 %}
    <div class="card shadow text-dark mt-1">
        <div class="card-header text-dark{% if failed_count > 0 %} bg-danger {% else %}bg-info {% endif %}">
                <h3><i class=" {% if failed_count > 0 %}fas fa-frown {% else %}fas fa-laugh {% endif %}"></i> Notice</h3>
        </div>
        <div class="card-body">
            {{ message }}
         </div>
     </div>
{% endif %}



<script>

    var closeButton = document.querySelector('.card-header .btn-close');
    closeButton.addEventListener('click', function() {
        var cardHeader = this.parentNode;
        var card = cardHeader.parentNode;
        card.parentNode.removeChild(card);
    });
 </script>
{% endblock %}