{% extends "student_view/base.html" %}

{% block body %}
<style >
    
.red {
      background-color: #FA8072;
}
.blue {
      background-color: #87CEFA;
}
.orange {
      background-color: peachpuff;
}
</style>

      <div class="row">
        <div class="card bg-light" >
            <table  class="table">
                <tr class="ba">
                  <td colspan="4" height="25"><div align="center"><font color=white><strong>-
                      STUDENT CURRICULUM RESIDENCY INFORMATION-</strong></font></div></td>
                </tr>


                <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="49%" valign="middle">Student ID: <strong>{{ user.username }} </strong></td>
                  <td width="49%" valign="middle">Year: <strong>{{ user.student.year_level }}</strong></td>
                </tr>


                 <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="49%" valign="middle">Student name: <strong>{{ user.student.user.first_name }} {{ user.student.user.last_name }} {{ user.student.middle_initial}}</strong></td>
                  <td height="49">Curriculum Year :<strong> 2020 - 2021</strong></td>
                 
                </tr>

                 <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="1%" valign="middle">Total units taken: <strong>{{ total_units }}</strong></td>
                  <td width="1%" valign="left">Status: <strong>REGULAR</strong></td>
                </tr>

                 <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="49%" valign="middle">  Course/Major: <strong>Bachelor of Science in Information Technology</strong><strong></strong></td>
                  <td height="49">  Total units required for this course :<strong> 156.0</strong></td>
                </tr>


               <div class="table">
              <table class="table-light" width="100%" >
                <thead>
                  <tr> 
                      <td width="1%">&nbsp;</td>
                      <td colspan="11"><strong><u>1st Year, 1st Sem</u></strong></td>
                    </tr>
                    
                    <tr> 
                      <td rowspan="2">&nbsp;</td>
                      <td rowspan="2" height="19"><div align="left"><font size="1"><strong>SUBJECT 
                          CODE</strong></font></div></td>
                      <td rowspan="2"><div align="left"><font size="1"><strong>SUBJECT TITLE </strong></font></div></td>

                      <td colspan="2"><div align="center"><font size="1"><strong>HOURS</strong></font></div></td>

                      <td colspan="2"><div align="center"><font size="1"><strong>UNITS</strong></font></div></td>


                      <td rowspan="2"><div align="left"><font size="1"><strong>REMARKS</strong></font></div></td>

                      <td rowspan="2"><div align="left"><font size="1"><strong>Prerequisite</strong></font></div></td>


                    </tr>
                    <tr> 

                      <td width="7%"><div align="center"><font size="1"><strong>LEC.</strong></font></div></td>
                      <td width="7%"><div align="center"><font size="1"><strong>LAB.</strong></font></div></td>
                      <td width="7%"><div align="center"><font size="1"><strong>LEC.</strong></font></div></td>
                      <td width="7%"><div align="center"><font size="1"><strong>LAB.</strong></font></div></td>

                    </tr>
                </thead>
                      {% for grade in grades %}
                      <tr class="{% if grade.status == 'passed' %}blue{% elif grade.status == 'failed' %}red{% else %}orange{% endif %}"> 
                        <td style= "display:none" >{{  grade.status }}</td>
                        <td></td>
                        <td width="5%" height="19">{{ grade.subject_id.subj_code  }}</td>
                        <td width="10%">{{ grade.subject_id.subj_name  }}</td>

                        <td width="3%" align="center">{{ grade.subject_id.subj_hr_lec  }}</td>
                        <td width="3%" align="center" >{{ grade.subject_id.subj_hr_lab  }}</td>
                        <td width="3%" align="center">{{ grade.subject_id.subj_units_lec  }}</td>
                        <td width="3%" align="center">{{ grade.subject_id.subj_units_lab  }}</td>

                        <td width="3%" align="left">{{  grade.status }}</td>
                        <td width="3%" align="left">
                            <!-- The Modal -->
                           <button type="button" class="btn btn-success me-1" href="{% url 'view_subject' grade.subject_id.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{grade.subject_id.id}}">
                        <i class="fa-solid fa-circle-info fa-lg"></i>
                      </button>

                      <!-- Modal - View Student -->
                      <div class="modal" id="myModal{{grade.subject_id.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Prerequisite
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <ul class="list-unstyled">
                                <li>Prerequisite: <strong>{{ grade.subject_id.prerequisite }}</strong></li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </td>
                        {% empty %}
                      <tr>
                          <td colspan="3">No grades available.</td>
                      </tr>
                      {% endfor %}

                      <tr> 
                      <td>&nbsp;</td>
                      <td colspan="11"><div align="center"><strong><u>TOTAL REQUIRED UNITS : 21.0</u></strong>     TOTAL UNITS CREDITED : {{ total_units }}</u></strong></div></td>
                      </tr>

              </tbody></table>
                    <footer class="page-footer font-small m-1">
                      <div class="footer-copyright text-center py-3">Copyright &copy; <script>document.write(new Date().getFullYear())</script>
                        <span> Delta 5 Project</span>
                      </div>
                    </footer> 
            </div>
    </div>
</div>
    </div>
    

<!-- JS for Button Pssed -->




{% block custom_js %}

{% endblock custom_js %}



{% endblock %}