{% extends "student_view/base.html" %}
{% load myapp_tags %}
{% block body %}


    <div class="card shadow text-dark mb-4" style="border-radius: 15px; ">
            <table>
                <tr bgcolor="#3EEB8F">
                  <h3 class="text-center"style="background-color:#3EEB8F;"><font color=black><strong>-
                      STUDENT CURRICULUM RESIDENCY INFORMATION-</strong></font></h3>
                </tr>


                <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="49%" valign="middle">Student ID: <strong>{{ student.user.username }} </strong></td>
                  <td width="49%" valign="middle">Year: <strong>{{ student.year_level }}</strong></td>
                </tr>


                 <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="49%" valign="middle">Student name: <strong>{{ student.user.first_name }} {{ student.user.last_name }}</strong></td>
                  <td width="49%" valign="middle">  Course/Major: <strong>Bachelor of Science in Information Technology</strong><strong>{{course_id}}</strong></td>
                </tr>

                 <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td height="25">Curriculum Year :<strong> {{curriculum.curriculum_year}} </strong></td>
                  <td width="49%" valign="middle">Total units taken: <strong>{{ total_units_passed }}</strong></td>
                </tr>


                 <tr>
                  <td width="1%" height="25">&nbsp;</td>
                  <td width="49%" valign="middle">Status: <strong>REGULAR</strong></td>
                  <td >  Total units required for this course :<strong> {{ atotal_units }}</strong></td>
                </tr>
            </table>
                  <table>
                    <h5 class="table-success" style="padding:5px;">
                      <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Can Enroll</button>

                    </h5>
                    <tbody>
                            <tr >
                              <td height="25">&nbsp;</td>
                            </tr>
                      {% for yearlevel in yearlevels %}
                          {% if yearlevel.year_level == 1 %}
                            <tr >
                              <td height="25">&nbsp;</td>
                              <td colspan="2">&nbsp;</td>
                              <td colspan="1" class="text-center"><strong>First Year</strong></td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                              {% elif yearlevel.year_level == 2 %}
                            <tr>
                              <td height="25">&nbsp;</td>
                              <td colspan="2">&nbsp;</td>
                              <td colspan="1" class="text-center"><strong>Second Year</strong></td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                           {% elif yearlevel.year_level == 3 %}
                            <tr>
                              <td height="25">&nbsp;</td>
                              <td colspan="2">&nbsp;</td>
                              <td colspan="1" class="text-center"><strong>Third Year</strong></td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                          {% elif yearlevel.year_level == 4 %}
                            <tr>
                              <td height="25">&nbsp;</td>
                              <td colspan="2">&nbsp;</td>
                              <td colspan="1" class="text-center"><strong>Fourth Year</strong></td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                          {% else %}
                            <tr>
                              <td height="25">&nbsp;</td>
                              <td colspan="2">&nbsp;</td>
                              <td colspan="1" class="text-center"><strong>{{ yearlevel.year_level }}th Year</strong></td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                          {% endif %}
                            <tr>
                              <td height="25">&nbsp;</td>
                            </tr>
                            <tr >
                                <th rowspan="2">Subject Code</th>
                                <th rowspan="2">Subject Desc</th>
                                <th colspan="2">Hours</th>
                                <th colspan="2">Units</th>
                                <th rowspan="2">Grade</th>
                                <th rowspan="2">Status</th>
                                <th rowspan="2">Prerequisite</th>
                                <th rowspan="2">Enrollment Status</th>
                            </tr>
                            <tr>
                                <th>Lec</th>
                                <th>Lab</th>
                                <th>Lec</th>
                                <th>Lab</th>
                            </tr>
                        {% for semester in yearlevel.semesters.all %}
                          {% if semester.semester == 1 %}
                          <tr>
                            <td></td>
                          </tr>
                            <tr>
                              <td colspan="7"><strong><u>First Semester</u></strong></td>
                            </tr>
                          {% elif semester.semester == 2 %}
                          <tr>
                            <td></td>
                          </tr>
                            <tr>
                              <td colspan="7"><strong><u>Second Semester</u></strong></td>
                              <td><strong>{{ semester.total_units }}</strong></td>
                            </tr>
                          {% elif semester.semester == 3 %}
                          <tr>
                            <td></td>
                          </tr>
                            <tr>
                              <td colspan="7"><strong><u>Third Semester</u></strong></td>
                              <td><strong>{{ semester.total_units }}</strong></td>
                            </tr>
                          {% else %}
                          <tr>
                            <td></td>
                          </tr>
                            <tr>
                              <td colspan="7"><strong><u>{{ semester.semester }} Semester</u></strong></td>
                              <td><strong>{{ semester.total_units }}</strong></td>
                            </tr>
                          {% endif %}

                          {% for subject in semester.subjects.all %}
                            <tr class="{% if student|get_subject_status:subject == 'passed' %}table-primary{% elif student|get_subject_status:subject == 'failed' or student|get_subject_status:subject == 'dropped' or student|get_subject_status:subject == 'noattendance' %}table-danger{% elif student|get_subject_status:subject == 'incomplete' %}table-warning{% endif %}">

                                <td>{{ subject.subj_code }}</td>
                                <td>{{ subject.subj_name }}</td>
                                <td>{{ subject.subj_hr_lec }}</td>
                                <td>{{ subject.subj_hr_lab }}</td>
                                <td>{{ subject.subj_units_lec }}</td>
                                <td>{{ subject.subj_units_lab }}</td>
                                <td>
                                    {% if student|has_grade:subject %}
                                        {% if student|get_subject_grade:subject != 0.0 %}
                                            {{ student|get_subject_grade:subject }}
                                        {% elif student|get_subject_grade:subject == 0.0 %}
                                              N/A
                                        {% else %}
                                              N/A
                                        {% endif %}
                                    {% else %}

                                    {% endif %}
                                </td>
                                <td>
                                    {% if student|has_grade:subject %}
                                        {% if student|get_subject_status:subject == 'passed' %}
                                          Passed
                                        {% elif student|get_subject_status:subject == 'failed' %}
                                          Failed
                                        {% elif student|get_subject_status:subject == 'incomplete' %}
                                          Inc <button type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter"> <i class="fa fa-info-circle" aria-hidden="true"></i> </button>
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Notice!</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Follow up your inc subject from your subject instrutor.
                                              </div>
                                              <div class="modal-footer">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        {% elif student|get_subject_status:subject == 'dropped' %}
                                          Dropped
                                        {% elif student|get_subject_status:subject == 'noattendance' %}
                                          No Attendance
                                        {% endif %}
                                    {% elif student|get_subject_status:subject == '' %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                  {% for prerequisite in subject.prerequisites.all %}
                                    {{ prerequisite.subj_code}}
                                    {% if student|has_grade:prerequisite %}
                                        {% if student|get_subject_status:prerequisite == 'passed' %}
                                        (Passed)
                                        {% elif student|get_subject_status:prerequisite == 'failed' %}
                                        (Failed)
                                        {% elif student|get_subject_status:prerequisite == 'incomplete' %}
                                        (Inc) 
                                        {% elif student|get_subject_status:prerequisite == 'dropped' %}
                                        (Dropped)
                                        {% elif student|get_subject_status:prerequisite == 'noattendance' %}
                                        (No Attendance)
                                        {% endif %}
                                    {% elif student|get_subject_status:prerequisite == '' %}
                                        N/A
                                    {% endif %}
                                  {% endfor %}                             
                                </td>
                                <td>
                                  {% if subject in available_subjects %}
                                    <div class="circle green">
                                      <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                  {% else %}
                                    <div class="circle">
                                      <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                  {% endif %}
                                </td>
                            </tr>
                          {% endfor %}
                          <tr>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                          <tr>
                            <td></td> 
                            <td></td> 
                            <td colspan="6"><strong>Total Academic Unit(s): </strong><strong>{% calculate_total_units_semester semester %}</strong></td>
                                
                          </tr>
                          <tr>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>

                            </tr>
                          {% endfor %}

                      {% endfor %}
                      <tr>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                              <td height="25">&nbsp;</td>
                            </tr>
                      <tr>
                        <td colspan="5"><strong></strong></td>
                        <td><strong>Total Academic Units: {{ atotal_units }}</strong></td>
                      </tr>
                      
                    </tbody>
                  </table>
                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <h5 class="text-center"><strong>List of Possible Subject to Enroll</strong></h5>
                              {% if available_subjects %}
                                <table class="table">
                                  <thead>
                                    <tr class="table-success" style="padding:5px;">
                                      <th>Subject Code</th>
                                      <th>Subject Name</th>
                                      <th>Units (Lec/Lab)</th>
                                      <th>Reason</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for subject in available_subjects %}
                                      <tr>
                                        <td>{{ subject.subj_code }}</td>
                                        <td>{{ subject.subj_name }}</td>
                                        <td>{{ subject.subj_units_lec }}/{{ subject.subj_units_lab }}</td>
                                        <td>
                                          {% if subject.prerequisites.all %}
                                            {% for prerequisite in subject.prerequisites.all %}
                                              {{ prerequisite.subj_code }}
                                              {% if student|has_grade:prerequisite %}
                                                {% if student|get_subject_status:prerequisite == 'passed' %}
                                                  (Passed)
                                                {% elif student|get_subject_status:prerequisite == 'failed' %}
                                                  (Failed)
                                                {% elif student|get_subject_status:prerequisite == 'incomplete' %}
                                                  (Inc)
                                                {% elif student|get_subject_status:prerequisite == 'dropped' %}
                                                  (Dropped)
                                                {% elif student|get_subject_status:prerequisite == 'noattendance' %}
                                                  (No Attendance)
                                                {% endif %}
                                              {% else %}
                                                N/A
                                              {% endif %}
                                            {% empty %}
                                              {% if student|has_grade:subject %}
                                                {% if student|get_subject_status:subject == 'passed' %}
                                                  (Passed)
                                                {% elif student|get_subject_status:subject == 'failed' %}
                                                  (Failed)
                                                {% elif student|get_subject_status:subject == 'incomplete' %}
                                                  (Inc)
                                                {% elif student|get_subject_status:subject == 'dropped' %}
                                                  (Dropped)
                                                {% elif student|get_subject_status:subject == 'noattendance' %}
                                                  (No Attendance)
                                                {% endif %}
                                              {% else %}
                                                Not Taken
                                              {% endif %}
                                            {% endfor %}
                                          {% else %}
                                            {% if student|has_grade:subject %}
                                              {% if student|get_subject_status:subject == 'passed' %}
                                                (Passed)
                                              {% elif student|get_subject_status:subject == 'failed' %}
                                                (Failed)
                                              {% elif student|get_subject_status:subject == 'incomplete' %}
                                                (Inc)
                                              {% elif student|get_subject_status:subject == 'dropped' %}
                                                (Dropped)
                                              {% elif student|get_subject_status:subject == 'noattendance' %}
                                                (No Attendance)
                                              {% elif student|get_subject_grade:subject == 0.0 %}
                                                Not Yet Taken
                                              {% endif %}
                                            {% else %}
                                              Not Taken
                                            {% endif %}
                                          {% endif %}
                                        </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              {% else %}
                                <p>Eligible to take all subjects.</p>
                              {% endif %}
                            </div>
                          </div>
                        </div>

                        <div class="modal fade inc-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <h5 class="text-center"><strong>List of Incomplete Subject('s)</strong></h5>
                              <table class="table">
                                <thead style="background-color: yellow;" class="text-dark">
                                  <tr>
                                    <th>Subject Code</th>
                                    <th>Subject Name</th>
                                    <th>Units</th>
                                    <th>Notice</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% if Inc_subjects %}
                                    {% for subject in Inc_subjects %}
                                      <tr>
                                        <td>{{ subject.subj_code }}</td>
                                        <td>{{ subject.subj_name }}</td>
                                        <td>{{ subject.subj_units_lec }}/{{ subject.subj_units_lab }}</td>
                                        <td>Follow up your inc subject from your subject instrutor.</td>
                                      </tr>
                                    {% endfor %}
                                  {% else %}
                                    <tr>
                                      <td>No Incomplete subject</td>
                                    </tr>
                                  {% endif %}
                                  </tbody>
                              </table>
                            </div>
                          </div>
                        </div>



    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



{% endblock %}