{% extends "student_view/base.html" %}

{% block page_title %}
    Edit Student | Username: {{ username }} | #ID : {{ id }}
{% endblock page_title %}
{% block body %}
  {% if success %}
    <div class="alert alert-success" role="alert">
      The student updated successfully.
      <a href="{% url 'student_profile' %}" class="alert-link">Go back to Profile.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card bg-light mb-3">
          <div class="ba card-header text-light">
            <h4><i class="fa-solid fa-pen-to-square fa-lg"></i> {{ user.first_name }} {{ user.last_name }} Profile
          </div>
          <div class="card-body form-floating mb-3">
            <form class="form-floating"action="" method="POST">
              {% csrf_token %}
              <div class="form-floating mb-3">
              	<div class="row justify-content-between text-left">
	                <div class="form-group col-sm-4 flex-column d-flex text-center"> <label class="form-control-label px-3">Username/StudentID<span class="text-danger"> *</span></label>{{ user.username }} </div>
	                <div class="form-group col-sm-4 flex-column d-flex text-center"> <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label> {{form1.password}} </div>
	                <div class="form-group col-sm-4 flex-column d-flex text-center"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> {{form1.email}} </div>
	              </div>
              </div>

               <div class="col text-center d-grid gap-2">
                <button type="submit" class="btn as">Update</button>
                <a href="{% url 'home_student' %}" class="btn btn-outline-secondary ">Cancel</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
