{% extends "ojt_view/base.html" %}

{% block body %}
<div class="card bg-light ms-1 me-1 mb-1 mt-1">
	<div class="card-header text-dark as">
		 <h3><i class="fa-solid fa-user-check"></i> Welcome {{ user.username }}!</h3>
	</div>
    <div class="card-body">
     Working On it!
     </div>
 </div>
  <div class="row ms-1 me-1 mb-1">
 	<div class="card bg-light me-1 mb-1" style=" width: 16rem; opacity: 0.9;">
		<div class="card-header text-dark bg-danger">
			 <h3><i class="fa-solid fa-user-xmark"></i> To Do List!</h3>
		</div>
	    <div class="card-body" >
	    	<p class="card-text ">
	    		<strong><span><br><i class="fa-solid fa-circle-dot"></i> Counts for.. </span></strong>
			    <li>Student</li><li>Subject..</li>
			    <li>Number of failed or incomplete subject of student..</li>
			   	<strong><span><i class="fa-solid fa-circle-dot"></i> Not All Links are Functional..</span></strong>
			    <li>student table link to curriculum residency</li>
			    <strong><span><br><i class="fa-solid fa-circle-dot"></i> Filters for Easy Access..</span></strong>
			    <li>including search bars and shit.</li>
			    <strong><span><br><i class="fa-solid fa-circle-dot"></i> More Icons..</span></strong>
			    <strong><span><br><i class="fa-solid fa-circle-dot"></i> Remove Accessibility without login..</span></strong>
	    	</p>  
	     </div>
	 </div>
 </div>

{% endblock %}