{% extends "ojt_view/base.html" %}


{% block body %}
{% load static %}
<style>
  .e:hover{
    opacity: 0.9;
    text-shadow: 1px 1px;

}
  .blue{
      background-color: #343148FF; 
      opacity: 0.8;
    }
  .pink{
      background-color: pink;
      color: black;
      opacity: 0.8;
    }
    .aw{
      background-color: #755139FF;
    }



</style>


  <div class="mt-2">
    <div class="row ms-2 me-2 mb-2">

      <div class="e as card text-dark me-2" style="width: 16rem;">
      <div class="card-body">
        <h4 class="card-title">Total Students</h4>
        <h3 class="card-subtitle mb-2">{{ numstudent }}</h3>
        <a href="{% url 'ojt_index' %}" class="stretched-link"></a>
      </div>
    </div>

    <div class="e as card text-dark me-2" style="width: 16rem;">
      <div class="card-body">
        <h4 class="card-title">Ready For OJT</h4>
        <h3 class="card-subtitle mb-2 text-muted">{{ count_passed }}</h3>
        <a href="{% url 'ojt_index' %}" class="stretched-link"></a>
      </div>
    </div>
    </div>


    {% if students %}
    <div class="card bg-light ms-2 me-2 mb-2">
      <div class="aw card-header text-light  ">
        <i class="fa-solid fa-list fa-lg"></i><strong><em> Student Records For OJT</em></strong>
      </div>
      <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>

                  <th scope="col">Student Number</th>
                  <th scope="col">Student Name</th>
                  <th scope="col">Student Year</th>
                  <th scope="col">Units Taken</th>
                  <th scope="col">Remarks</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                  <tr class="{% if student.ojtstatus == '✓' %}green{% elif grade.status == 'X' %}pink{% else %}pink{% endif %}">
                    <td>{{ student.number }}</td>
                    <td>{{ student.name }} {{ student.middle_initial }}</td>
                    <td>{{ student.year }}</td>
                    <td>{{ student.units }}/109</td>
                    <td >{% if student.ojtstatus == '✓' %}<i class="fa-solid fa-check fa-beat-fade" style="color: black;"></i>{% elif grade.status == 'X' %}<i class="fa-solid fa-xmark fa-beat-fade" style="color: #fff;"></i>{% else %}<i class="fa-solid fa-xmark fa-beat-fade" style="color: black;"></i>{% endif %}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </p>
      </div>
    </div>


    {% else %}
    <div class="card bg-light ms-4 me-4 mb-4">
     <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Student Records
          <a style="float: right;"href="{% url 'add' %}">
            <i class="fa-solid fa-plus fa-lg "></i> Add Student
          </a>

      </div>  
      <h5 class="alert alert-primary ms-4 me-4">No Student Found</h5>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block custom_js %}

{% endblock custom_js %}