{% extends "PA_Views/base.html" %}

{% block body %}
 <script>
    $('.form-floating .form-select').on('change', function () {
        var selectedOption = $(this).find('option:selected');
        var labelText = selectedOption.text();
        $(this).siblings('label').text(labelText);
    });
</script>
  <h3 class="text-center m-1">Add Curriculum</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      New Curriculum Year added successfully.
      <a href="{% url 'curriculum_list' %}" class="alert-link">Curriculum List</a>
      or
      <a href="{% url 'new_curriculum' %}" class="alert-link">add more.</a>
    </div>
  {% else %}
    <div class="row justify-content-center m-1">
        <div class="card">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> New Curriculum
          </div>
          <div class="card-body">
            <form class="form-block" action="{% url 'new_curriculum' %}" method="POST">
             {% if message %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}
            {% csrf_token %}
              <div class="form-floating mb-3">
                {{form.curriculum_year}}
                <label for="{{form.curriculum_year.id_for_label}}">Curriculum Name:</label>
              </div>          
            <div class="col text-center d-grid gap-2">
              <button type="submit" class="btn btn-success">Add</button>
              <a href="{% url 'curriculum_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
          </form>
          </div>
        </div>
    </div>
  {% endif %}
{% endblock %}