{% extends "PA_Views/base.html" %}

{% block body %}
  <h3 class="text-center m-4y">Add Department Head Account</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      New account successfully added.
      <a href="{% url 'hod_list' %}" class="alert-link">Go to Department Head Accounts.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> Department Head Registration
          </div>
          <div class="card-body">
            <form class="form-inline" action="{% url 'add_hod' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-hal">Add</button>
              <a href="{% url 'hod_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}