{% extends "PA_Views/base.html" %}

{% block body %}
  <h3 class="text-center m-4 bg-primary">Add SIP</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      Account successfully added!
      <a href="{% url 'ojt_list' %}" class="alert-link">Go to SIP Accounts </a>or 
      <a href="{% url 'add_ojt' %}" class="alert-link">Add one more.</a>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa-solid fa-address-card fa-lg"></i> SIP Registration
          </div>
          <div class="card-body">
            <form class="form-inline" action="{% url 'add_ojt' %}" method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Add</button>
              <a href="{% url 'ojt_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}