{% extends "PA_Views/base.html" %}
{% load myapp_tags %}
{% block body %}
<style>
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
tr {
    margin-bottom: 20px;
  }
</style>

<div class="row ms-1 me-1 mt-1">
  <div class="card bg-light me-1">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'curriculum_list' %}"> Curriculum List  </a></li>
        <li class="breadcrumb-item active" aria-current="page">Curriculum</li>
      </ol>
    </nav>
    <div class="card-header text-light hal">
       <h4 class="justify-content-center text-center" ><i class="fas fa-bookr"></i> Curriculum {{ curriculum.curriculum_year }}
       <button type="button" class="btn btn-success" style="float: right;" data-toggle="modal" data-target="#addSubjectModal2">
          <i class="fa-solid fa-plus"></i> Enroll Student
        </button>
        <button type="button" class="btn btn-success me-1" style="float: right;" data-toggle="modal" data-target="#addSubjectModal1">
          <i class="fa-solid fa-plus"></i> Add Subject
        </button>


      </h4>
    </div>
      <div class="r card-body" style="overflow:auto; max-height: 300px;">
        <div class="row">
          <div class="col-4"><strong>Total Subjects: </strong>{{ subject_count }}</div>
          <div class="col-4"><strong>Total Academic Units: </strong> {{ total_units }}</div>
          <div class="col-4"><strong>Total Year Levels: </strong> {{ yearlevel_count }}</div>
          <div class="col-4"><strong>Total Students Enrolled: </strong> {{ count_enrolled_student }}</div>
          
        </div>
       </div>
          
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
         
    


   

</div>
</div>

<div class="card bg-light mt-1">
  <div class="card-header" style ="background-color:#3EEB8F ;">
    <tr bgcolor="#3EEB8F">
      <td rowspan="8" height="25"><div align="center"><font color=black><strong>--- STUDENT CURRICULUM RESIDENCY INFORMATION ---</strong></font></div></td>
    </tr>
  </div>
    <table>
  <tbody>
          <tr >
            <td height="25">&nbsp;</td>
          </tr>
    {% for yearlevel in yearlevels %}
        {% if yearlevel.year_level == 1 %}
          <tr >
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td colspan="1"><strong>First Year</strong> </td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td></td>
          </tr>
        {% elif yearlevel.year_level == 2 %}
          <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td colspan="1"><strong>Second Year</strong></td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
         {% elif yearlevel.year_level == 3 %}
          <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td colspan="1"><strong>Third Year</strong></td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
        {% elif yearlevel.year_level == 4 %}
          <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td colspan="1"><strong>Fourth Year</strong></td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
        {% else %}
          <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td colspan="1"><strong>{{ yearlevel.year_level }}th Year</strong></td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
        {% endif %}
          <tr>
            <td height="25">&nbsp;</td>
          </tr>
            <tr>
              <th rowspan="2">Subject Code</th>
              <th rowspan="2">Subject Description</th>
              <th colspan="2">Hours</th>
              <th colspan="2">Units</th>
              <th rowspan="2">Prerequisites</th>
              <th class="text-center" rowspan="2">Actions</th>
            </tr>
            <tr>
              <th>Lecture</th>
              <th>Laboratory</th>
              <th>Lecture</th>
              <th>Laboratory</th>
            </tr>
      {% for semester in yearlevel.semesters.all %}
        {% if semester.semester == 1 %}
        <tr>
          <td></td>
        </tr>
          <tr>
            <td colspan="7"><strong><u>First Semester</u></strong></td>
          </tr>
        {% elif semester.semester == 2 %}
        <tr>
          <td></td>
        </tr>
          <tr>
            <td colspan="7"><strong><u>Second Semester</u></strong></td>
            <td><strong>{{ semester.total_units }}</strong></td>
          </tr>
        {% elif semester.semester == 3 %}
        <tr>
          <td></td>
        </tr>
          <tr>
            <td colspan="7"><strong><u>Third Semester</u></strong></td>
            <td><strong>{{ semester.total_units }}</strong></td>
          </tr>
        {% else %}
        <tr>
          <td></td>
        </tr>
          <tr>
            <td colspan="7"><strong><u>{{ semester.semester }} Semester</u></strong></td>
            <td><strong>{{ semester.total_units }}</strong></td>
          </tr>
        {% endif %}

        {% for subject in semester.subjects.all %}
            <tr>
                <td>{{ subject.subj_code }}</td>
                <td>{{ subject.subj_name }}</td>
                <td>{{ subject.subj_hr_lec }}</td>
                <td>{{ subject.subj_hr_lab }}</td>
                <td>{{ subject.subj_units_lec }}</td>
                <td>{{ subject.subj_units_lab }}</td>
                <td>
                   {% for prerequisite in subject.prerequisites.all %}
                      {{ prerequisite.subj_code}}
                    {% endfor %}
                </td>
                <td>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditSubject{{ subject.id}}"><i class="fa-solid fa-pen-to-square fa-lg"></i>
                  </button>
                   <a class="btn btn-danger" href="{% url 'delete_subject_from_curriculum' curriculum_id=curriculum.id subject_id=subject.id %}"><i class="fa-solid fa-trash-can fa-lg"></i>
                  </a>
                  <div class="modal fade" id="EditSubject{{ subject.id}}" tabindex="-1" role="dialog" aria-labelledby="EditSubjectModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <form method="POST" action="{% url 'edit_subject_from_curriculum' curriculum_id=curriculum.id subject_id=subject.id  %}">
                          {% csrf_token %}
                          <div class="modal-header">
                            <h5 class="modal-title" id="EditSubjectModalLabel">Edit Subject</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="subj_code" name="subj_code" placeholder="Subject Code" value="{{ subject.subj_code }}" required>
                              <label for="subj_code">Subject Code</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="subj_name" name="subj_name" placeholder="Subject Name" value="{{ subject.subj_name }}" required>
                              <label for="subj_name">Subject Name</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="subj_hr_lec" name="subj_hr_lec" min="0" step="1" placeholder="Hours for Lec" value="{{ subject.subj_hr_lec }}" required>
                              <label for="subj_hr_lec">Hours for Lec</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="subj_hr_lab" name="subj_hr_lab" min="0" step="1" placeholder="Hours for Lab" value="{{ subject.subj_hr_lab }}">
                              <label for="subj_hr_lab">Hours for Lab</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="subj_units_lec" name="subj_units_lec" min="0" step="1" placeholder="Units for Lec" value="{{ subject.subj_units_lec }}" required>
                              <label for="subj_units_lec">Units for Lec</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="subj_units_lab" name="subj_units_lab" min="0" step="1" placeholder="Units for Lab" value="{{ subject.subj_units_lab }}">
                              <label for="subj_units_lab">Units for Lab</label>
                            </div>
                            <div class="form-floating mb-3">
                              <select class="form-select" id="prerequisites" name="prerequisites" size="3" multiple style="height: 150px;">
                                <option value="" >➣ Select Subject</option>
                                {% for prerequisite in added_subjects %}
                                  {% if prerequisite in subject.prerequisites.all %}
                                    <option value="{{ prerequisite.id }}" selected>➣ {{ prerequisite.subj_code }}</option>
                                  {% else %}
                                    <option value="{{ prerequisite.id }}">➣ {{ prerequisite.subj_code }}</option>
                                  {% endif %}
                                {% endfor %}
                              </select>
                              <label for="prerequisites">Prerequisites</label>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit Subject</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </td>
                
            </tr>

            
        {% endfor %}
        <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
        <tr>
          <td></td> 
          <td></td> 
          <td colspan="6"><strong>Total Academic Unit(s): </strong><strong>{% calculate_total_units_semester semester %}</strong></td>
              
        </tr>
        <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>

          </tr>
        {% endfor %}

    {% endfor %}
    <tr>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
            <td height="25">&nbsp;</td>
          </tr>
    <tr>
      <td colspan="5"><strong></strong></td>
      <td><strong>Total Academic Units: {{ total_units }}</strong></td>
    </tr>
    
  </tbody>
</table>
</div>


<div class="modal fade" id="addSubjectModal2" tabindex="-1" role="dialog" aria-labelledby="addSubjectModalLabel2" aria-hidden="true">
  <div class=" modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addSubjectModalLabel2">Enroll Students in {{ curriculum.curriculum_year }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
         {% if enrolled_students %}
          <h5>Enrolled Students:</h5>
            {% for student in enrolled_students %}
            <ul style="list-style-type: none;">
              <li>➣ {{ student.user.first_name }} {{ student.user.last_name }} ({{ student.user.username }})</li>
            </ul>
            {% endfor %}
        {% else %}
          <p>No students enrolled in this curriculum yet.</p>
        {% endif %}
          <form method="POST" action="{% url 'enroll_students' curriculum.id %}">
            {% csrf_token %}
              <h5>Select Students to Enroll:</h5>
                <select class="form-select" name="students" size="5" multiple aria-label="size 5 select example">
                  {% for student in students %}
                  <option value="{{ student.user.id }} "{% if student in enrolled_students %}hidden{% endif %}> ➣ {{ student.user.first_name }} {{ student.user.last_name }} ({{ student.user.username }})</option>
                  {% endfor %}
                </select>
             <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>



            

<!-- Modal form -->
<div class="modal fade" id="addSubjectModal1" tabindex="-1" role="dialog" aria-labelledby="addSubjectModalLabel1" aria-hidden="true">
  <div class=" modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form method="POST" action="{% url 'curriculum_year_semester_subject_add' curriculum.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="addSubjectModalLabel">Add Subject to Curriculum</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row g-2 mb-3">
              <div class="col-md">
                <div class="form-floating">
                  <select class="form-select" id="yearlevels" name="yearlevels" onchange="updateSemesters()" required>
                     <option value="#">➣ -----------------</option>
                  </select>
                  <label for="yearlevels">Year Level:</label>
                </div>
              </div>
              <div class="col-md">
                  {% csrf_token %}
                  <div class="form-floating">
                    <a href="{% url 'create_year_level' curriculum_id=curriculum.id %}" id="add-year-level-button" class="btn btn-link" target="_blank">Add Year</a>
                    <a href="{% url 'delete_year_level' curriculum_id=curriculum.id %}" id="delete-year-level-button" class="btn btn-link" target="_blank">Delete Year</a>
                  </div>
              </div>
            </div>
            <div class="row g-2 mb-3">
              <div class="col-md">
                <div class="form-floating mb-3">
                  <select class="form-select" id="semesters" name="semesters" required>
                      <option value="#">➣ -----------------</option>
                  </select>
                  <label for="semesters">Semester:</label>
                </div>        
              </div>
              <div class="col-md">
                {% csrf_token %}
                <div class="form-floating">
                  <a href="" onclick="addSemester()" id="add-semester-btn" class="btn btn-link" target="_blank">Add Sem</a>
                  <button class="btn btn-link" id="delete-latest-semester-btn">Delete Sem</button>
                </div>
              </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" name="subj_code" placeholder="Subject Code:" required>
                <label for="floatingInput">Subject Code:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="subj_name" name="subj_name" placeholder="Subject Name:" required>
                <label for="subj_name">Subject Name:</label>
            </div>

            <div class="form-group mb-3">
              <div class="form-check ">
                  <input class="form-check-input" type="checkbox" id="subj_hr_lab_checkbox" name="subj_hr_lab_checkbox" value="1" onchange="toggleCheckbox()">
                  <label class="form-check-label" for="subj_hr_lab_checkbox">Has Laboratory</label>
              </div>
          </div>
          <div id="lecture-info" style="display:block;">
              <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="subj_hr_lec1" name="subj_hr_lec" min="0" step="1" placeholder="Hours for Lec:" required >
                  <label for="subj_hr_lec">Hours for Lec:</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="subj_units_lec1" name="subj_units_lec" min="0" step="1" placeholder="Units for Lec:"required>
                  <label for="subj_units_lec">Units for Lec:</label>
              </div>
          </div>
          <div id="lab-info" style="display:none;">
              <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="subj_hr_lab1" name="subj_hr_lab" min="0" step="1" placeholder="Hours for Lab:" required>
                  <label for="subj_hr_lab">Hours for Lab:</label>
              </div>
              <div class="form-floating mb-3">
                  <input type="number" class="form-control" id="subj_units_lab1" name="subj_units_lab" min="0" step="1" placeholder="Units for Lab:"required >
                  <label for="subj_units_lab">Units for Lab:</label>
              </div>
          </div>


            <div class="form-floating mb-3">
              <select class="form-select" id="prerequisites" name="prerequisite[]" size="3"  multiple style="height: 150px;">
                {% for subject in added_subjects %}
                  <option value="{{ subject.id }}">➣ {{ subject.subj_code }}</option>
                {% endfor %}
              </select>
              <label for="prerequisite">Prerequisite:</label>
            </div>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add Subject</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<script >
function toggleCheckbox() {
        var lecDiv = document.getElementById("lecture-info");
        var labDiv = document.getElementById("lab-info");
        var labCheckbox = document.getElementById("subj_hr_lab_checkbox");
        if (labCheckbox.checked) {
            labDiv.style.display = "block";
            lecDiv.style.display = "none";
            document.getElementById("subj_hr_lec1").value = "0.0";
            document.getElementById("subj_units_lec1").value = "0.0";
            document.getElementById("subj_hr_lab1").value = "";
            document.getElementById("subj_units_lab1").value = "";
        } else {
            labDiv.style.display = "none";
            lecDiv.style.display = "block";
            document.getElementById("subj_hr_lec1").value = "";
            document.getElementById("subj_units_lec1").value = "";
            document.getElementById("subj_hr_lab1").value = "0.0";
            document.getElementById("subj_units_lab1").value = "0.0";

        }
    }
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

  document.addEventListener("DOMContentLoaded", function() {
  const rows = document.querySelectorAll(".clickable-row");
  rows.forEach(function(row) {
    row.addEventListener("click", function(event) {
      // Check if the click originated from the button or one of its children
      if (event.target.closest("button")) {
        return;
      }
      // Proceed with the original behavior
      if (!row.classList.contains("exclude")) {
        window.location.href = row.dataset.href;
      }
    });
  });
});

  function updateSemesters() {
  var yearlevel_id = document.getElementById("yearlevels").value;
  var url = "{% url 'get_semesters' %}?yearlevel_id=" + yearlevel_id;

  $.ajax({
    url: url,
    success: function(data) {
      var options = "";
      for (var i = 0; i < data.length; i++) {
        options += "<option value='" + data[i].id + "'> ➣" + data[i].semester + "</option>";
      }

      $("#semesters").html(options);
    }
  });
}

  const yearLevelsSelect = document.querySelector('#yearlevels');
  const curriculumId = {{ curriculum.id }};
  fetch(`/curriculum/${curriculumId}/year-levels/`)
    .then(response => response.json())
    .then(yearLevels => {
      // Add year levels to select element
      yearLevels.forEach(yearLevel => {
        const option = document.createElement('option');
        option.value = yearLevel.id;
        option.text = `➣ ${yearLevel.year_level}`;
        yearLevelsSelect.appendChild(option);
      });
    })
    .catch(error => {
      console.error(error);
    });

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
  }
});

$(document).ready(function() {
  const yearLevelsSelect = document.querySelector('#yearlevels');
  const addYearLevelButton = document.querySelector('#add-year-level-button');
  const deleteYearLevelButton = document.querySelector('#delete-year-level-button');
  const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
  const curriculumId = {{ curriculum.id }};

  // Add event listener for creating a year level
  addYearLevelButton.addEventListener('click', function(event) {
    event.preventDefault();
    $.ajax({
      url: $(this).attr('href'),
      type: 'POST',
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
      },
      success: function(data) {
        alert("Year level created successfully!");
        fetch(`/curriculum/${curriculumId}/year-levels/`)
          .then(response => response.json())
          .then(yearLevels => {
            // Clear existing options
            yearLevelsSelect.innerHTML = '';

            // Add year levels to select element
            yearLevels.forEach(yearLevel => {
              const option = document.createElement('option');
              option.value = yearLevel.id;
              option.text = `➣ ${yearLevel.year_level}`;
              yearLevelsSelect.appendChild(option);
            });
          })
          .catch(error => {
            console.error(error);
          });
      },
      error: function(xhr, status, error) {
        alert("Error creating year level: " + error);
      }
    });
  });

  // Add event listener for deleting the latest year level
  deleteYearLevelButton.addEventListener('click', function(event) {
    event.preventDefault();
    $.ajax({
      url: $(this).attr('href'),
      type: 'POST',
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
      },
      success: function(data) {
        alert("Latest year level deleted successfully!");
        fetch(`/curriculum/${curriculumId}/year-levels/`)
          .then(response => response.json())
          .then(yearLevels => {
            // Clear existing options
            yearLevelsSelect.innerHTML = '';

            // Add year levels to select element
            yearLevels.forEach(yearLevel => {
              const option = document.createElement('option');
              option.value = yearLevel.id;
              option.text = `➣ ${yearLevel.year_level}`;
              yearLevelsSelect.appendChild(option);
            });
          })
          .catch(error => {
            console.error(error);
          });
      },
      error: function(xhr, status, error) {
        alert("Error deleting latest year level: " + error);
      }
    });
  });
});



$(document).ready(function() {
  // Attach an event listener to the yearlevel select element
  $('#yearlevels').on('change', function() {
    // Get the selected yearlevel id
    var yearlevel_id = $(this).val();

    // Send an AJAX request to the server to fetch the semesters
    $.ajax({
      url: '/get_semesters/',
      data: {
        'yearlevel_id': yearlevel_id
      },
      dataType: 'json',
      success: function(data) {
        // Update the options of the semester select element
        var options = '<option value="#">➣ -----------------</option>';
        $.each(data, function(index, semester) {
          options += '<option value="' + semester.id + '">' + semester.semester + '</option>';
        });
        $('#semesters').html(options);
      },
      error: function(xhr, status, error) {
        console.error('Error fetching semesters:', error);
      }
    });
  });
});

$(document).ready(function() {
  $("#add-semester-btn").click(function(e) {
    e.preventDefault();

    var yearlevel_id = $("#yearlevels").val();
    var csrf_token = $("input[name='csrfmiddlewaretoken']").val();

    $.ajax({
      url: "{% url 'add_semester' %}",
      type: "POST",
      data: {
        'yearlevel_id': yearlevel_id,
        'csrfmiddlewaretoken': csrf_token
      },
      success: function(data) {
          updateSemesters()

          alert("Semester added successfully!");
      },
      error: function(xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  });
});

$(document).ready(function() {
  $("#delete-latest-semester-btn").click(function(e) {
    e.preventDefault();

    var yearlevel_id = $("#yearlevels").val();
    var csrf_token = $("input[name='csrfmiddlewaretoken']").val();

    $.ajax({
      url: "{% url 'delete_latest_semester' %}",
      type: "POST",
      data: {
        'yearlevel_id': yearlevel_id,
        'csrfmiddlewaretoken': csrf_token
      },
      success: function(data) {
          updateSemesters()

          alert("Latest semester deleted successfully!");
      },
      error: function(xhr, status, error) {
        alert(xhr.responseText);
      }
    });
  });
});






</script>


{% endblock %}