{% extends "PA_Views/base.html" %}

{% block body %}
    {% if curriculum %}
    <div class="card bg-light m-1">
      <h3 class="justify-content-center text-center" style="position:relative;">Curriculum</h3>
    <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">

              <form action="{% url 'curriculum_list' %}" method="get">{{ form1.query }}<button class="btn-outline-secondary" type="submit" name="submit" value="1"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
              </form>
            </li>
            <div class="ml-auto">
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSubjectModal">
                  <i class="fa-solid fa-plus"></i> Add Curriculum
              </button>
            </div>
          </ul>
        </div>
      <div class="card-body">
        {% if message %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{ message }}!</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
          {% endif %}
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr >
                  <th scope="col">ID</th>
                  <th scope="col">Curriculum</th>
                  <th scope="col">Total Year Level</th>
                  <th scope="col">Total Subjects</th>
                  <th scope="col">Action</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for curriculums in curriculum %}
                 <tr class="clickable-row " data-href="{% url 'curriculum_detail' curriculums.id%}">
                <td >{{ curriculums.id }}</td>
                <td >{{ curriculums.curriculum_year }}</td>
                <td >{{ curriculums.year_levels.count  }}</td>
                <td >{{ curriculums.subjects.count  }}</td>

                <td>
                      <button type="button" class="exclude-cell btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{curriculum.id}}">
                        <i class="fa-solid fa-trash-can fa-lg"></i>
                      </button>


                    </td>
                  </tr>
                    <!-- Modal - Delete Student -->
                      <div class="modal" id="delete{{curriculum.id}}" tabindex="-1" aria-labelledby="myModalLabel2" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">
                                Curriculum: {{ curriculums.curriculum_year }}
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>Are you sure you want to delete this curriculum?</p>
                            </div>
                            <div class="modal-footer">
                              <form action="{% url 'delete_curriculum' curriculums.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Delete">
                              </form>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            </div>
                          </div>
                        </div>
                      </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <form method="POST" action="{% url 'new_curriculum' %}">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="addSubjectModalLabel">Create Curriculum</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="curriculum_year" name="curriculum_year" placeholder="Curriculum Name:" required>
                      <label for="subj_name">Curriculum Name:</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card bg-light m-1">
      <h3 class="text-center" style="position:relative;">Curriculum</h3>
     <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <form action="{% url 'curriculum_list' %}" method="get">{{ form1.query }}<button class="btn-outline-secondary" type="submit" name="submit" value="1"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
              </form>
            </li>
            <div class="ml-auto">
              <li class="nav nav-item ">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addSubjectModal">
                  <i class="fa-solid fa-plus"></i> Add Curriculum
              </button> 
              </li>
            </div>
          </ul> 
      <div>
        <h5 class="alert alert-primary m-1">No Data Found</h5>
      </div>
       
    {% endif %}
  </div>
  <div class="modal fade" id="addSubjectModal" tabindex="-1" role="dialog" aria-labelledby="addSubjectModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <form method="POST" action="{% url 'new_curriculum' %}">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="addSubjectModalLabel"> Create Curriculum</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="curriculum_year" name="curriculum_year" placeholder="Curriculum Name:" required>
                      <label for="subj_name">Curriculum Name:</label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>

</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const rows = document.querySelectorAll(".clickable-row");
  rows.forEach(function(row) {
    row.addEventListener("click", function(event) {
      // Check if the click originated from the button or one of its children
      if (event.target.closest("button")) {
        return;
      }
      // Proceed with the original behavior
      if (!row.classList.contains("exclude")) {
        window.location.href = row.dataset.href;
      }
    });
  });
});
</script>

{% endblock %}