{% extends "PA_Views/base.html" %}
{% block page_title %}
    Edit Student | Username: {{ username }} | #ID : {{ id }}
{% endblock page_title %}
{% block body %}
  <h3 class="text-center m-1">Update Student</h3>
  {% if success %}
    <div class="alert alert-success" role="alert">
      The student updated successfully.
      <a href="{% url 'index' %}" class="alert-link">Go to Home Page.</a>
    </div>
  {% else %}
    <div class="row justify-content-center m-1">
        <div class="card bg-light mb-1">
          <div class="card-header">
            <i class="fa-solid fa-pen-to-square fa-lg"></i> Update Student Records
          </div>
          <div class="card-body form-floating mb-1">
            <form class="form-floating"action="" method="POST">
              {% csrf_token %}
              <div class="form-floating mb-1">
              {{ form1.as_p }}
              </div>
              
              {{ form.as_p }}
             

              <div class="container-fluid">
                <button type="submit" class="btn btn-hal">Update</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
  {% endif %}
{% endblock %}