{% extends "PA_Views/base.html" %}
{% load myapp_tags %}
<style >
	.r::-webkit-scrollbar{
		display: none;
	}
	.r{
		height: 500px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
</style>
{% block body %}
<div class="card  ms-1 me-1 mb-1">
	<div class="card-header text-dark bg-success">
		 <h3><i class="fa-solid fa-user-check"></i> Welcome {{ user.username }}!</h3>
	</div>
    <div class="card-body">
     Working on it...
     </div>
 </div>


{% endblock %}